*{
    margin: 0;
    padding: 0;
}
body{
    background: #000;
}
.info-page{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 500;
    background: #000;
}
.info-page .box{
    width: 100%;
    max-width: 500px;
    background: #222;
    border-radius: 5px;
}
.info-page .box .title{
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    text-align: center;
    padding: 20px 10px 5px 10px;
}
.info-page .box .form{
    padding: 20px;
}
.info-page .box .form input{
    width: calc(100% - 40px);
    height: 40px;
    margin-top: 10px;
    padding:0 20px;
    background: #444;
    border: none;
    border-radius: 7px;
    color: #fff;
}
.info-page .box .instructions{
    color: #999;
    padding:10px 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.info-page .box .instructions li{
    margin-top: 10px;
}
.info-page .box .btns{
    padding: 20px;
    text-align: right;
}
.info-page .box .btns button{
    background: rgb(0, 136, 255);
    color: #fff;
    padding:10px 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    border-radius: 5px;
    user-select: none;
    cursor: pointer;
    transition: 0.3s;
    border: none;
    outline: none;
}
.info-page .box .btns button:hover{
    background: rgb(0, 173, 212);
}

.filter{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    opacity: 0;
    pointer-events: none;
}
.filter .confirm-box{
    width: 90%;
    max-width: 500px;
    background: #111;
    border-radius: 7px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    transform: scale(0.9);
}
.filter .confirm-box .msg{
    padding: 20px;
    color: #fff;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.filter .confirm-box .btns{
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 20px 10px;
}
.filter .confirm-box .btns button{
    border: none;
    outline: none;
    font-size: 15px;
    padding: 8px 15px;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
    transition: 0.3s;
}
.filter .confirm-box .btns button#submit{
    background-color: #126dff;
    color: #fff;
}
.filter .confirm-box .btns button#submit:hover{
    background: #4c91ff;
}
.filter .confirm-box .btns button#cancel{
    background-color: #6d6d6d;
    color: #fff;
}
.filter .confirm-box .btns button#cancel:hover{
    background: #7d7d7d;
}

.container{
    padding: 20px 0 100px 0;
    margin: auto;
    max-width: 600px;
}
.container .head .title{
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 20px 10px 10px 10px;
    font-size: 20px;
    font-weight: 600;
}
.container .head .time{
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 5px 10px 20px 10px;
    font-size: 15px;
}
.container .hr{
    margin: 0 20px;
    height: 1px;
    background: linear-gradient(to right, #555, #f1f1f1, #555);
}

.container .report{
    display: none;
}
.container .report .marks{
    text-align: center;
}
.container .report .marks .data{
    color: #00d026;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight: bold;
    padding: 20px 15px 10px 15px;
}
.container .report .marks .text-1{
    color: #b2b2b2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}
.container .report .grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    padding: 10px;
    margin-top: 10px;
}
.container .report .grid .box{
    background: #222;
    border-radius: 7px;
    display: flex;
    align-items: center;
    padding: 10px 0;
}
.container .report .grid .box .p1{
    width: 50px;
    aspect-ratio: 1 / 1;
    margin: 10px 15px 10px 10px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}
.container .report .grid .box#correct .p1{
    background: rgba(129, 255, 129, 0.104);
    color: rgb(0, 203, 0);
}
.container .report .grid .box#incorrect .p1{
    background: rgba(255, 129, 129, 0.104);
    color: rgb(210, 0, 0);
}
.container .report .grid .box#skipped .p1{
    background: rgba(129, 230, 255, 0.104);
    color: rgb(0, 183, 229);
}
.container .report .grid .box#accuracy .p1{
    background: rgba(186, 129, 255, 0.104);
    color: rgb(122, 13, 255);
}
.container .report .grid .box .p2{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container .report .grid .box .p2 .data{
    color: #fff;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 7px;
}
.container .report .grid .box .p2 .text-1{
    color: #999;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container .questions .card{
    background: #111;
    color: #f6f6f6;
    margin: 10px;
    border-radius: 5px;
    padding-bottom: 10px;
    user-select: none;
}
.container .questions .card.answered{
    pointer-events: none;
}
.container .questions .card .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}
.container .questions .card .top .qLabel{
    background: #2b2b2b;
    padding: 5px 8px;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
}
.container .questions .card .question{
    color: #f6f6f6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px 15px 12px 15px;
    font-size: 18px;
}
.container .questions .card .options{
    padding:5px 10px;
}
.container .questions .card .options .option{
    display: flex;
    align-items: start;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    transition: 0.3s;
}
.container .questions .card .options .option:hover{
    background: #222;
}
.container .questions .card .options .option .p1{
    width: 40px;
}
.container .questions .card .options .option .p1 .radio{
    width: 30px;
    aspect-ratio: 1 / 1;
    outline:1px solid #555;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: 0.3s;
}
.container .questions .card .options .option .p2{
    font-size: 17px;
    padding: 5px 10px 0 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container .questions .card.answered .option .p1 .radio{
    color: #888;
}
.container .questions .card.answered .option .p2{
    color: #888;
}
.container .questions .card.answered .option.answered .p1 .radio{
    color: #f6f6f6;
    outline: 1px solid #126dff;
    background: #126dff;
}
.container .questions .card.answered .option.answered .p2{
    color: #f6f6f6;
}

.container .questions .card .top .corr{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: #00ea2b;
}
.container .questions .card .options .option.correct{
    background: rgb(216, 255, 216);
    color: #111;
}
.container .questions .card .options .option.correct .p1 .radio{
    outline: 1px solid green;
    color: green;
}
.container .questions .card .options .option.correct .p2{
    color: #111;
}
.container .questions .card .options .option.correct .p2 #tick{
    color: #006813;
    margin-left: 20px;
    font-size: 20px;
}

.container .questions .card .top .incr{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: #ea0000;
}
.container .questions .card .options .option.incorrect{
    background: rgb(255, 216, 216);
    color: #111;
}
.container .questions .card .options .option.incorrect .p1 .radio{
    outline: 1px solid rgb(128, 0, 0);
    color: rgb(128, 0, 0);
}
.container .questions .card .options .option.incorrect .p2{
    color: #111;
}
.container .questions .card .options .option.incorrect .p2 #cross{
    color: #ea0000;
    margin-left: 20px;
    font-size: 20px;
}


.container .questions .card .options .option.correct-w{
    color: #03c300;
}
.container .questions .card .options .option.correct-w .p1 .radio{
    outline: 1px solid #03c300;
    color: #03c300;
}
.container .questions .card .options .option.correct-w .p2{
    color: #03c300;
}
.container .questions .card .options .option.correct-w .p2 #tick{
    color: 03c300;
    margin-left: 20px;
    font-size: 20px;
}

.container .questions .card .top .blank{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: #afafaf;
}



.container .foot{
    display: flex;
    justify-content: center;
    padding: 20px 10px;
}
.container .foot .submit-btn{
    background: rgb(0, 136, 255);
    color: #fff;
    padding:10px 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    border-radius: 5px;
    user-select: none;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 0 10px rgba(128,0,128,0.3);
}
.container .foot .submit-btn:hover{
    background: rgb(0, 173, 212);
}


.fixed-bar{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 70px;
    background: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top:1px solid #555;
}
.fixed-bar .time{
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display:flex;
    align-items: center;
    font-size: 15px;
}
.fixed-bar .time i{
    font-size: 25px;
    margin-right: 10px;
    color: #555;
}