:root{
    --bg-dark:rgb(15, 19, 30);
    --card-dark:rgb(27, 31, 42);
    --card-2-dark:rgb(27, 33, 47);
    --card-3-dark:rgb(38, 42, 53);
    --card-4-dark:rgb(53, 57, 69);
    --primary-dark:rgb(44, 68, 128);
    --primary-hover-dark:rgb(63, 95, 177);
    --text-1-dark:#ebebeb;
    --text-2-dark:#d8d8d8;
    --text-3-dark:#999999;
    --text-4-dark:#555555;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}
body{
    background: var(--bg-dark);
    font-family: "Google Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:"GRAD" 0;
}

mjx-container{
    pointer-events: none;
}

/*data error*/
.no-content-graphics{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}
.no-content-graphics .graphics{
    width: 80%;
    max-width: 500px;
    aspect-ratio: 2 / 1.3;
    background-image: url(Assets/not-found.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.no-content-graphics .msg{
    color: #fff;
    font-size: 22px;
    margin-top: 30px;
}


/*ui elements*/
.standard-btn{
    display:inline-flex;
    background: var(--primary-dark);
    color: var(--text-1-dark);
    padding:12px 18px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
    transition: 0.3s;
}
.standard-btn:hover{
    background: var(--primary-hover-dark);
    transform: scale(0.95);
}


/*loader srceen*/
.loader-screen{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    display:flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
    z-index: 999;
    user-select: none;
    -webkit-user-select:none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.loader-screen .loader{
    width: 60px;
}
.loader-screen .loader img{
    width: 100%;
}


/*info page*/
.info-page{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 500;
    background: var(--bg-dark);
    display: none;
}
.info-page .info-box{
    width: 100%;
    max-width: 500px;
    max-height: 100%;
    background: var(--card-2-dark);
    border-radius: 5px;
    overflow-y: scroll;
    box-shadow: 0 4px 12px rgba(0,0,0,0.25);
}
.info-page .info-box::-webkit-scrollbar{
    display: none;
}
.info-page .info-box .exam-title{
    color: var(--text-1-dark);
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    padding:0 10px;
    margin-top: 24px;
}
.info-page .info-box .exam-info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    padding:0 20px;
    margin-top: 20px;
}
.info-page .info-box .exam-info .tile{
    background: var(--card-4-dark);
    color: var(--text-1-dark);
    display: flex;
    align-items: baseline;
    border-radius: 7px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.25);
    padding: 10px;
    transition: 0.3s;
}
.info-page .info-box .exam-info .tile:active{
    transform: scale(0.95);
}
.info-page .info-box .exam-info .tile .data{
    font-weight: 500;
    font-size: 30px;
    margin: 10px;
}
.info-page .info-box .exam-info .tile .text-1{
    font-weight: 400;
    font-size: 14px;
    color: var(--text-2-dark);
}
.info-page .info-box .info-form{
    padding:0 20px;
    margin-top: 20px;
}
.info-page .info-box .info-form .form-input{
    width: 100%;
    height: 56px;
    padding:16px;
    background: var(--card-4-dark);
    border: none;
    border-radius: 7px;
    color: var(--text-1-dark);
    font-size: 16px;
    font-weight: 500;
}
.info-page .info-box .info-form .form-input#college{
    margin-top: 12px;
}
.info-page .info-box .instructions{
    color: var(--text-3-dark);
    padding: 0 50px;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 400;
}
.info-page .info-box .instructions li{
    margin-top: 10px;
}
.info-page .info-box .form-btns{
    padding:0 20px;
    text-align: right;
    margin: 24px 0 20px 0;
}
.info-page .info-box .form-btns #start-exam-btn{
    box-shadow: 0 4px 12px rgba(0,0,0,0.25);
}

/*submission confirm box*/
.confirm-box-filter{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 400;
    opacity: 0;
    pointer-events: none;
}
.confirm-box-filter .confirm-box{
    width: 90%;
    max-width: 500px;
    background: var(--card-2-dark);
    border-radius: 7px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.25);
    transition: 0.3s;
    transform: scale(0.9);
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.confirm-box-filter .confirm-box .msg{
    padding:0 20px;
    color: var(--text-1-dark);
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
}
.confirm-box-filter .confirm-box .btns{
    display: flex;
    align-items: center;
    justify-content: right;
    padding:0 10px;
    margin:40px 0 20px 0;
}
.confirm-box-filter .confirm-box .btns .standard-btn{
    margin-right: 10px;
}
.confirm-box-filter .confirm-box .btns .standard-btn#cancel{
    background-color: #6d6d6d;
    color: var(--text-1-dark);
}
.confirm-box-filter .confirm-box .btns .standard-btn#cancel:hover{
    background: #7d7d7d;
    transform: scale(0.95);
}




/*main exam container*/
.container{
    margin: auto;
    max-width: 600px;
    margin-bottom: 150px;
}

/*exam info area*/
.container .head .title{
    color: var(--text-1-dark);
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    padding:0 20px;
    margin-top: 24px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.container .head .time{
    color: var(--text-2-dark);
    font-weight: 400;
    padding:0 10px;
    font-size: 15px;
    margin: 12px 0;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container .head .time i{
    font-size: 25px;
    margin-right: 10px;
}

.container .hr{
    margin:0 20px;
    height: 1px;
    background: #444;
}



/*Exam report*/
.container .report{
    display: none;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.container .report .marks{
    text-align: center;
}
.container .report .marks:active .data{
    transform: scale(1.1);
}
.container .report .marks .data{
    color: #20bc3d;
    font-weight: 700;
    font-size: 25px;
    padding: 20px 15px 10px 15px;
    transition: 0.3s;
}
.container .report .marks .text-1{
    color: var(--text-3-dark);
    font-size: 15px;
}
.container .report .grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 12px;
    padding: 12px;
    margin-top: 10px;
}
.container .report .grid .box{
    background: var(--card-3-dark);
    box-shadow: 0 4px 12px rgba(0,0,0,0.25);
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 10px 0;
    transition: 0.3s;
}
.container .report .grid .box:active{
    transform: scale(0.95);
}
.container .report .grid .box .p1{
    width: 50px;
    aspect-ratio: 1 / 1;
    margin: 10px 15px 10px 15px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}
.container .report .grid .box#correct .p1{
    background: rgba(129, 255, 129, 0.104);
    color: rgb(0, 203, 0);
}
.container .report .grid .box#incorrect .p1{
    background: rgba(255, 129, 129, 0.104);
    color: rgb(210, 0, 0);
}
.container .report .grid .box#skipped .p1{
    background: rgba(129, 230, 255, 0.104);
    color: rgb(0, 183, 229);
}
.container .report .grid .box#accuracy .p1{
    background: rgba(186, 129, 255, 0.104);
    color: rgb(122, 13, 255);
}
.container .report .grid .box .p2{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container .report .grid .box .p2 .data{
    color: var(--text-1-dark);
    font-size: 25px;
    font-weight: 500;
    margin-top: 7px;
}
.container .report .grid .box .p2 .text-1{
    color: var(--text-3-dark);
    font-size: 15px;
    font-weight: 400;
}

/*report card filter section*/
.container .report-card-filter{
    display: none;
    align-items: center;
    justify-content: center;
    gap: 12px;
    background: var(--card-dark);
    padding:12px 8px;
    margin: 0 12px;
    border-radius: 8px;
    transition: 0.3s;
}
.container .report-card-filter#sticky{
    position: sticky;
    top: 0;
    border-radius: 0;
    background: var(--bg-dark);
    z-index:100;
}
.container .report-card-filter .option{
    padding: 5px 8px;
    border: 1px solid #656565;
    color: var(--text-3-dark);
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.container .report-card-filter .option:active{
    background: var(--card-4-dark);
}
.container .report-card-filter .option.active{
    background: var(--primary-dark);
    color: #fff;
    border: 1px solid var(--primary-dark);
}




/*Exam questions*/
.container .questions{
    margin-top: 16px;
    margin-bottom: 24px;
    display:grid;
    grid-template-columns: 1fr;
    gap: 12px;
    padding: 0 12px;
}

/*report card*/
.container .questions .report-card{
    background: var(--card-dark);
    color: var(--text-1-dark);
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.25);
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.container .questions .report-card .top-part{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 16px;
    margin-top: 20px;
}
.container .questions .report-card .top-part .qLabel{
    background: var(--card-4-dark);
    padding: 5px 8px;
    border-radius: 8px;
    font-size: 13px;
    font-weight: 500;
    color: var(--text-2-dark);
}
.container .questions .report-card .top-part .qStatus{
    font-weight: 500;
    font-size: 16px;
}

.container .questions .report-card .top-part .qStatus .corr{
    color: #20bc3d;
}
.container .questions .report-card .top-part .qStatus .incr{
    color: #bc2020;
}
.container .questions .report-card .top-part .qStatus .blank{
    color: #afafaf;
}

.container .questions .report-card .question{
    color: var(--text-1-dark);
    padding: 0 20px;
    font-size: 18px;
    margin-top: 20px;
    font-family: sans-serif;
    overflow-wrap: break-word;
}

.container .questions .report-card .options{
    padding:0 12px;
    margin: 16px 0;
}
.container .questions .report-card .options .option{
    display: flex;
    align-items: start;
    cursor: pointer;
    padding: 10px;
    border-radius: 8px;
    transition: 0.3s;
}
.container .questions .report-card .options .option:active{
    background: var(--card-3-dark);
}
.container .questions .report-card .options .option .p1{
    width: 40px;
}
.container .questions .report-card .options .option .p1 .radio{
    width: 30px;
    aspect-ratio: 1 / 1;
    outline: 1px solid var(--text-4-dark);
    color: var(--text-3-dark);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 500;
    transition: 0.3s;
}
.container .questions .report-card .options .option .p2{
    font-size: 17px;
    padding: 5px 10px 0 10px;
    color: var(--text-3-dark);
    font-family: sans-serif;
    overflow-wrap: break-word;
}
.container .questions .report-card .options .option-border{
    height: 1px;
    background: var(--card-4-dark);
    margin:0 20px 0 55px;
}

/*for correct question*/
.container .questions .report-card .options .option.correct{
    background: rgba(2, 255, 2, 0.119);
}
.container .questions .report-card .options .option.correct .p1 .radio{
    outline: 1px solid #20bc3d;
    color: #20bc3d;
}
.container .questions .report-card .options .option.correct .p2{
    color: var(--text-1-dark);
}
.container .questions .report-card .options .option.correct .p2 #tick{
    color: #20bc3d;
    margin-left: 20px;
    font-size: 20px;
}

/*for incorrect question*/
.container .questions .report-card .options .option.incorrect{
    background: rgba(255, 2, 2, 0.119);
}
.container .questions .report-card .options .option.incorrect .p1 .radio{
    outline: 1px solid #bc2020;
    color: #bc2020;
}
.container .questions .report-card .options .option.incorrect .p2{
    color: var(--text-1-dark);
}
.container .questions .report-card .options .option.incorrect .p2 #cross{
    color: #bc2020;
    margin-left: 20px;
    font-size: 20px;
}

/*for blank questions*/
.container .questions .report-card .options .option.correct-w .p1 .radio{
    outline: 1px solid #20bc3d;
    color: #20bc3d;
}
.container .questions .report-card .options .option.correct-w .p2{
    color: #20bc3d;
}
.container .questions .report-card .options .option.correct-w .p2 #tick{
    color: #20bc3d;
    margin-left: 20px;
    font-size: 20px;
}

/*explanation*/

.container .questions .report-card .explanation{
    margin: 12px;
    padding: 16px;
    background: var(--card-3-dark);
    border-radius: 8px;
    transition: 0.3s;
    border-left: 8px solid var(--card-4-dark);
}
.container .questions .report-card .explanation:active{
    background: var(--card-4-dark);
}
.container .questions .report-card .explanation .exLabel{
    font-size: 16px;
    font-weight: bold;
    color: rgba(255, 255, 90, 0.8);
}
.container .questions .report-card .explanation .exLabel i{
    font-size: 20px;
}
.container .questions .report-card .explanation .exText{
    font-size: 16px;
    margin-top: 12px;
    overflow-wrap: break-word;
}






/*exam card*/
.container .questions .exam-card{
    background: var(--card-2-dark);
    color: var(--text-1-dark);
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.25);
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.container .questions .exam-card .top-part{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 16px;
    margin-top: 20px;
}
.container .questions .exam-card .top-part .qLabel{
    background: var(--card-4-dark);
    padding: 5px 8px;
    border-radius: 8px;
    font-size: 13px;
    font-weight: 500;
    color: var(--text-2-dark);
}
.container .questions .exam-card .question{
    color: var(--text-1-dark);
    padding: 0 20px;
    font-size: 18px;
    margin-top: 20px;
    font-family: sans-serif;
    overflow-wrap: break-word;
}
.container .questions .exam-card .options{
    padding:0 12px;
    margin: 16px 0;
}
.container .questions .exam-card .options .option{
    display: flex;
    align-items: start;
    cursor: pointer;
    padding: 10px;
    border-radius: 8px;
    transition: 0.3s;
}
.container .questions .exam-card .options .option-border{
    height: 1px;
    background: var(--card-4-dark);
    margin:0 20px 0 55px;
}
.container .questions .exam-card .options .option:active{
    background: var(--card-3-dark);
}
.container .questions .exam-card .options .option .p1{
    width: 40px;
}
.container .questions .exam-card .options .option .p1 .radio{
    width: 30px;
    aspect-ratio: 1 / 1;
    outline: 1px solid var(--text-4-dark);
    color: var(--text-3-dark);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 500;
    transition: 0.3s;
}
.container .questions .exam-card .options .option .p1 .radio::after{
    width: 45px;
    height: 45px;
    position: absolute;
    border-radius: 50%;
    content: "";
    background: rgb(62, 62, 62);
    opacity: 0;
    transition: 0.3s;
    transform: scale(0.4);
}
.container .questions .exam-card .options .option .p1 .radio:hover::after{
    opacity: 0.5;
    transform: scale(1);
}
.container .questions .exam-card .options .option .p1 .radio .radio-inner{
    width: calc(100% - 7px);
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: 0.3s;
}
.container .questions .exam-card .options .option .p2{
    font-size: 17px;
    padding: 5px 10px 0 10px;
    color: var(--text-1-dark);
    font-family: sans-serif;
    overflow-wrap: break-word;
}

/*after answering the question*/
.container .questions .exam-card.answered{
    pointer-events: none;
}
.container .questions .exam-card.answered .option .p1 .radio{
    color: var(--text-3-dark);
    outline: 1px solid var(--text-4-dark);
}
.container .questions .exam-card.answered .option .p2{
    color: var(--text-3-dark);
}
.container .questions .exam-card.answered .option.answered .p1 .radio{
    outline: 2px solid var(--primary-dark);
    color: var(--text-1-dark);
}
.container .questions .exam-card.answered .option.answered .p1 .radio .radio-inner{
    background: var(--primary-dark);
}
.container .questions .exam-card.answered .option.answered .p2{
    color: var(--text-1-dark);
}



/*container footer*/
.container .foot{
    display: flex;
    justify-content: center;
    padding: 0 16px;
    margin-top: 24px;
}
.container .foot #submit-btn{
    display: none;
    box-shadow: 0 4px 12px rgba(0,0,0,0.25);
}


/*fixed bottom bar*/
.fixed-bar{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 70px;
    background: var(--card-2-dark);
    display: flex;
    align-items: center;
    justify-content: center;
    border-top:1px solid #333;
    display: none;
    box-shadow: 0 4px 12px rgba(0,0,0,0.25);
    z-index: 100;
}
.fixed-bar .time{
    color: var(--text-1-dark);
    font-weight: 500;
    display:flex;
    align-items: center;
    font-size: 15px;
}
.fixed-bar .time i{
    font-size: 25px;
    margin-right: 10px;
    color: var(--text-4-dark);
}
.fixed-bar .filter-btn{
    width: 130px;
    height: 40px;
    border-radius: 8px;
    border:1px solid #686868;
    display: flex;
    align-items: center;
    margin-left: 32px;
    transition: 0.3s;
    user-select: none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select: none;
    cursor: pointer;
}
.fixed-bar .filter-btn i{
    font-size: 20px;
    color: var(--text-3-dark);
    margin-left: 8px;
}
.fixed-bar .filter-btn .label{
    color: var(--text-3-dark);
    font-size: 16px;
    margin-left: 8px;
}
.fixed-bar .filter-btn:hover{
    border:1px solid #858585;
}
.fixed-bar .filter-btn:hover i,
.fixed-bar .filter-btn:hover .label{
    color: var(--text-1-dark);
}

.filter-box-filter{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 200;
    pointer-events: none;
}
.filter-box{
    position: fixed;
    left: calc(50%  - 10px);
    bottom: 80px;
    width: 180px;
    height: fit-content;
    border-radius: 8px;
    background: var(--card-2-dark);
    border: 1px solid #646464;
    z-index: 300;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
    transform: scale(0.95);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
}
.filter-box .options{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.filter-box .option{
    padding: 10px;
    color: var(--text-3-dark);
    transition: 0.3s;
    border-radius: 4px;
    user-select: none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select: none;
    cursor: pointer;
}
.filter-box .option:active{
    background: var(--card-4-dark);
}
.filter-box .option.active{
    color: var(--text-1-dark);
    background: var(--card-4-dark);
}